# Fichiers générés par Visual Studio
.vscode/
.vs/
*.vcxproj*
*.sln
*.suo
*.ncb
*.user
*.ipch
*.pdb
*.obj
*.idb
*.ilk
*.tlog
*.lastbuildstate
*.log
*.tmp
*.tmp.*
*.opendb
*.VC.db

# Dossiers de build
Build/
bin/
debug/
release/
x64/
x86/
Debug/
Release/

# Logs et fichiers temporaires
*.log
*.tlog
*.cache
*.recipe
*.bak
*.orig
*.swp

# Fichiers exécutables générés
*.exe
*.dll
*.lib
*.exp

# Fichiers temporaires système
desktop.ini
Thumbs.db
*.DS_Store
$RECYCLE.BIN/

# Fichiers de packages et bibliothèque tierces
packages/
.vcpkg/

# Exclure les fichiers de CMake, s'il est utilisé
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
