# Fichiers générés par Visual Studio
.vscode/
.vs/
*.sln
*.suo
*.vcxproj*
*.ncb
*.user
*.opendb
*.VC.db
*.vcxproj.filters

# Fichiers spécifiques à Visual Studio Code
.vscode/

# Fichiers générés par le compilateur
*.obj
*.pdb
*.ilk
*.idb
*.tlog
*.exe
*.dll
*.lib
*.exp
*.log
*.recipe
*.lastbuildstate

# Dossiers de build
Debug/
Release/
x64/
x86/
bin/
Build/

# Fichiers temporaires ou système
*.tmp
*.cache
*.bak
*.orig
*.swp
*.DS_Store
desktop.ini
Thumbs.db
$RECYCLE.BIN/
